.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store
.vscode/
.idea/

data/

**/*.md
!/README.md

**/*.tex
**/*.bib
**/*.aux
**/*.log
**/*.out
**/*.toc
**/*.bbl
**/*.blg
**/*.bcf
**/*.run.xml
**/*.fls
**/*.fdb_latexmk
**/*.synctex.gz
